<div class="contact grid">
    <button mat-mini-fab aria-label="botón editar" (click)="editOpen()">
        <mat-icon>edit</mat-icon>
    </button>
    <div class="title section-style animated on-hover">
            <h2><b>Hablemos!</b></h2>
    </div>

    <div class="p1 section-style animated">
        <p >Si buscas una persona 
            <b><span class="on-hover">habilidad 1</span></b>, 
            <b><span class="on-hover">habilidad 2</span></b>, que sepa 
            <b><span class="on-hover">habilidad 3</span></b> y 
            <b><span class="on-hover">habilidad 4</span></b>.
        </p>
    </div>
    <div class="p2 section-style animated">
        <p> o simplemente querés contarme que te pareció mi portafolio,
        </p>
    </div>

    <div class="p3 section-style animated">
        <p> podés mandarme un <b><span class="mail-hover">mail</span></b> o 
            dejarme un mensaje llenando los siguientes campos.
        </p>
    </div>

    <section *ngIf="modalEdit" class="modal">
        <div class="modal-container">
            <div class="modal-header">
                <button mat-mini-fab aria-label="botón cerrar" (click)="editClose()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="modal-content" *ngFor="let skill of skillList">
                <form [formGroup]="editForm" (ngSubmit)="submitEdit(skill, editForm)">
                    <label for="nombre"><h3>{{skill.nombre}}</h3></label>
                    <mat-form-field appearance="fill">
                        <mat-label>nueva skill</mat-label>
                        <input matInput value="" formControlName="nombre">
                    </mat-form-field>
                    <input type="submit" value="Confirmar">
                </form>
            </div>
        </div>
    </section>

</div>