<div class="contact grid">
    
    <div class="title section-style on-hover">
            <h2><b>Hablemos!</b></h2>
    </div>
<!--
    <div class="p1 section-style">
        <p> Si buscas una persona 
            <b><span class="on-hover">habilidad 1</span></b>, 
            <b><span class="on-hover">habilidad 2</span></b>, que sepa 
            <b><span class="on-hover">habilidad 3</span></b> y 
            <b><span class="on-hover">habilidad 4</span></b>
        </p>
    </div>
-->
    <div class="p2 section-style">
        <p> contame que te pareció mi portafolio
        </p>
    </div>

    <div class="p3 section-style">
        <p> podés mandarme un <b><span class="mail-hover">mail</span></b> o 
            dejarme un mensaje llenando los siguientes campos.
        </p>
    </div>

    <!--
        capas armo un formulario de contacto o capas solo hago que, al hacer click en la palabra
        "mail" mi dirección se copie directamente en el portapapeles quien sabe ¯\_(ツ)_/¯
    -->

</div>