<section class="contact">
    
    <div id="title" class="section-style on-hover">
            <h2><b>Hablemos!</b></h2>
    </div>
    
    <div id="p1" class="section-style">
        <p> Contame que te pareció mi portafolio </p>
    </div>

        <div id="p2" class="section-style">
            <p> podés encontrarme en:  </p>
 </div>

    <div id="icons">
        <mat-card class="mat-elevation-z0" (click)="copie(0)"> 
            <mat-card-content>
                <img mat-card-sm-image [src]="linkedIn">
                <br>
                <b>LinkedIn</b>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z0" (click)="copie(1)"> 
            <mat-card-content>
                <img mat-card-sm-image [src]="gmail">
                <br>
                <b>email</b>     
            </mat-card-content>
        </mat-card>
    </div>

    <!--
        <div id="p3" class="section-style">
           <p>o mandarme un <b><span class="mail-hover">mail</span></b></p> 
        </div>
    -->
    <!--
        capas armo un formulario de contacto o capas solo hago que, al hacer click en la palabra
        "mail" mi dirección se copie directamente en el portapapeles quien sabe ¯\_(ツ)_/¯
    -->

</section>