<!--botón login-->
<div class="container" *ngIf="!isLogged">
  <a (click)="open()" class="btn btn-l">
    <svg width="80" height="30">
      <rect x="0" y="0" width="100%" height="100%" />
      <!--rectangulo para animar los bordes-->
      <text x="50%" y="55%" text-anchor="middle" alignment-baseline="middle">
        Login
      </text>
    </svg>
  </a>
</div>

<!--botón logout-->
<div class="container" *ngIf="isLogged">
  <a (click)="onLogOut()" class="btn btn-l">
    <svg width="80" height="30">
      <rect x="0" y="0" width="100%" height="100%" />
      <!--rectangulo para animar los bordes-->
      <text x="50%" y="55%" text-anchor="middle" alignment-baseline="middle">
        Log Out
      </text>
    </svg>
  </a>
</div>

<!--formulario-->
<div *ngIf="buttonOpen" class="modal">
  <mat-card >
    <mat-card-actions class="close-btn">
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-title><h2>LOGIN</h2></mat-card-title>
    <mat-card-content class="content">
      <form #form="ngForm" (ngSubmit)="onLogin()" novalidate>
        <mat-form-field appearance="fill">
          <mat-label for="userName">Usuario</mat-label>
          <input
            matInput
            type="text"
            placeholder="usuario"
            id="userName"
            name="userName"
            [(ngModel)]="userName"
            required
          />
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label for="password">Contraseña</mat-label>
          <input
            matInput
            type="text"
            placeholder="contraseña"
            id="password"
            name="password"
            [(ngModel)]="password"
            required
          />
        </mat-form-field>
        <mat-card-actions>
          <button type="submit" mat-stroked-button color="accent" aria-label="botón login">
            Acceder
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
