<!--botón login-->
<div class="container" *ngIf="!isLogged">
  <a (click)="open()" class="btn btn-l">
    <svg width="80" height="30">
      <rect x="0" y="0" width="100%" height="100%" />
      <!--rectangulo para animar los bordes-->
      <text x="50%" y="55%" text-anchor="middle" alignment-baseline="middle">
        Login
      </text>
    </svg>
  </a>
</div>

<!--botón logout-->
<div class="container" *ngIf="isLogged">
  <a (click)="onLogOut()" class="btn btn-l">
    <svg width="80" height="30">
      <rect x="0" y="0" width="100%" height="100%" />
      <!--rectangulo para animar los bordes-->
      <text x="50%" y="55%" text-anchor="middle" alignment-baseline="middle">
        Log Out
      </text>
    </svg>
  </a>
</div>

<!--formulario-->
<div *ngIf="buttonOpen" class="modal">
  <mat-card >
    <mat-card-actions class="btn-right">
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-title><h3><b>LOGIN</b></h3></mat-card-title>
    <mat-divider inset></mat-divider>
    <mat-card-content class="content">
      <form #form="ngForm" (ngSubmit)="onLogin()" novalidate>
        <mat-form-field appearance="fill">
          <mat-label for="userName">Usuario</mat-label>
          <input
            matInput
            type="text"
            placeholder="usuario"
            id="userName"
            name="userName"
            [(ngModel)]="userName"
            required
          />
          <mat-error>ingrese su nombre de usuario</mat-error>
        </mat-form-field>
        <mat-icon matSuffix>person</mat-icon>
        <br>
        <mat-form-field appearance="fill">
          <mat-label for="password">Contraseña</mat-label>
          <input matInput placeholder="contraseña" [type]="hide ? 'password' : 'text'" id="password"
          name="password" [(ngModel)]="password" required>
          <mat-error>campo obligatorio</mat-error>
          <!-- <mat-hint *ngIf="!passwordInput">Enter your password</mat-hint> -->
        </mat-form-field>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-card-actions>
          <button type="submit" mat-flat-button color="accent" aria-label="botón login">
            Acceder
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
