<app-toolbar></app-toolbar>
<main>
    
    <section class="color1">
        <app-section-education></app-section-education>
    </section>
    <div class="spacer layer"><h2>titulo?</h2><!--los divs vacios son conciderados mala practica D: --></div>
 
    <section class="color2">
        <h2>Texto de ejemplo</h2>
        <p>mas texto de relleno, mas texto de relleno, mas texto de relleno ,mas texto de relleno</p>
        <p>mas texto de relleno, mas texto de relleno, mas texto de relleno ,mas texto de relleno</p>
        <p>mas texto de relleno, mas texto de relleno, mas texto de relleno ,mas texto de relleno</p>

        <p>mas texto de relleno, mas texto de relleno, mas texto de relleno ,mas texto de relleno</p>

    </section>
    <section class="color3">
        <h2>Texto de ejemplo</h2>
        <p>mas texto de relleno, mas texto de relleno, mas texto de relleno ,mas texto de relleno</p>
        
    </section>

    <!--section-habilidades blandas-->
    
    <!-- <app-section-education></app-section-education>
    <app-section-experience></app-section-experience> -->
    
</main>
<app-footer></app-footer>