<app-toolbar></app-toolbar>
<main>
  <!--sección educación-->
  <section class="color1">
   <h3 class="title-style-left"><b>formación</b></h3>
    <app-section-education></app-section-education>
  </section>

  <!--sección habilidades blandas-->
  <div class="spacer layer">
  </div>
  <section class="color2">
    <h3 class="title-style-right"><b>Habilidades Blandas</b></h3>
    <app-section-skills></app-section-skills>
  </section>

  <!--sección experiencia-->
  <section class="color3">
    <h3 class="title-style"><b>Experiencia Laboral</b></h3>
    <app-section-experience></app-section-experience>
  </section>

  <!--section-habilidades blandas-->

  <!-- <app-section-education></app-section-education>
    <app-section-experience></app-section-experience> -->
</main>
<app-footer></app-footer>
