$color1A:#bbc5cd;
$color1B:#cacbde;
$color1C:#d9dbf1;

$color2A:#120432;
$color2B:#180642;
$color2C:#1e0853;

$color3A:#40012a;
$color3B:#4d0232;
$color3C:#5a023a;

main {
  margin: 0;
  padding: 0;
  color: #eee;
  background: #120432;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 10%;
}

.color1 {
  color: #333;
  background: rgba($color1A,1);
  background: linear-gradient(0deg,
   rgba($color1A,1) 30%,
    rgba($color1B,1) 75%,
     rgba($color1C,1) 100%);
}
.color2 {
  background: rgba($color2A,1);
  background: linear-gradient(0deg,
   rgba($color2A,1) 30%,
   rgba($color2B,1) 65%,
   rgba($color2C,1) 100%);
  }
.color3 {
  border-top-left-radius: 70% 30%;
            border-top-right-radius: 70% 30%;
  background: rgba($color3A,1);
  background: linear-gradient(0deg,
   rgba($color3A,1) 30%, 
   rgba($color3B,1) 75%, 
   rgba($color3C,1) 100%);
  }

  .spacer{
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .layer{
    background-image: url( /assets/images/wave.svg);
  }
