<app-toolbar></app-toolbar>
<main>
  <!--sección educación-->
  <div class="title-color1">
    <div class="title-left">
      <h2 class="hr-lines-left">EDUCACIÓN</h2>
    </div>
  </div>
  <section class="color1">
    <app-section-education></app-section-education>
  </section>

  <!--sección habilidades blandas-->
  <div class="spacer layer">
    <div class="title-right">
      <h2 class="hr-lines-right">HABILIDADES BLANDAS</h2>
    </div>
  </div>
  <section class="color2">
    <app-section-skills></app-section-skills>
  </section>

  <!--sección experiencia-->
  <section class="color3">
    <h2>EXPERIENCIA LABORAL</h2>
    <p>
      mas texto de relleno, mas texto de relleno, mas texto de relleno ,mas
      texto de relleno
    </p>
  </section>

  <!--section-habilidades blandas-->

  <!-- <app-section-education></app-section-education>
    <app-section-experience></app-section-experience> -->
</main>
<app-footer></app-footer>
