   <!--modal-->
   <div *ngIf="open" class="modal">
    <div class="form-popup">
        <form action="">
            <div class="modal-title">
                <h2>Editar</h2>
            <button type="button" class="" (click)="editClose()">X</button>
            </div>

            <div class="modal-body">
                <label for="nombre"><h3>Nombre</h3></label>
                <input type="text" placeholder="nuevo nombre" name="nombre">

                <label for="provincia"><h3>Provincia</h3></label>
                <input type="text" placeholder="nuevo provincia" name="provincia">

                <label for="país"><h3>País</h3></label>
                <input type="text" placeholder="nuevo país" name="país">

                <label for="título"><h3>Título</h3></label>
                <input type="text" placeholder="nuevo título" name="título">

                <label for="descripción"><h3>Descripción</h3></label>
                <input type="text" placeholder="nueva descripción" name="descripción">

                <button type="submit">Confirmar Cambios</button>
            </div>
            
        </form>
    </div>
</div>