<div class="tools">
  <div class="title section-style animated on-hover">
    <h2><b>Herramientas</b></h2>
  </div>

  <div> 
    <button mat-mini-fab aria-label="botón editar" (click)="editOpen()">
      <mat-icon>edit</mat-icon>
    </button> 
    <button mat-mini-fab aria-label="botón agregar" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  
  <section class="cardsGroup animated">
    
      <div *ngFor="let t of tools">
        <mat-card cdkDrag>
          <mat-card-header>
            <img mat-card-sm-image [src]="t.imagen" alt="logo">
          </mat-card-header>
          <mat-card-content>
            <h4><b>{{t.nombre}}</b></h4> 
          </mat-card-content>
        </mat-card>
      </div>

  </section>

  <section *ngIf="modalAdd" class="modal">
    <div class="modal-container">
      <div class="modal-header">
        <button mat-mini-fab aria-label="botón cerrar" (click)="closeAdd()">
          <mat-icon>close</mat-icon>
        </button>
        <h2>Agregar Herramienta</h2>
      </div>
      <div class="modal-content">
        <form #addForm="ngForm" (ngSubmit)="submitAdd(addForm)" novalidate>
          <label for="nombre"><h3>Herramienta</h3></label>
          <mat-form-field appearance="fill">
            <mat-label>nuevo nombre</mat-label>
            <input matInput value="" name="nombre" #nombre="ngModel" ngModel>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>url imagen</mat-label>
            <input matInput name="imagen" name="imagen" #imagen="ngModel" ngModel>
          </mat-form-field>

          <input type="submit" value="Confirmar">
        </form>
      </div>
    </div>
  </section>

  <section *ngIf="modalDelete" class="modal">
    <div class="modal-container">
        <mat-card>
          <mat-card-content>
            <p>¿Seguro que quiere borrar la herramienta?</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-mini-fab aria-label="botón confirmar" (click)="onDelete()">
              Confirmar
            </button>
          </mat-card-actions>
        </mat-card>
    </div>
  </section>

  
  <section *ngIf="modalEdit" class="modal">
        
    <div class="modal-container">
      <div class="modal-header">
        <h2>Editar</h2>
        <button mat-mini-fab aria-label="botón cerrar" (click)="editClose()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-content" *ngFor="let tool of tools">
        <form [formGroup]="editForm" (ngSubmit)="submitEdit(tool, editForm)">
          <label for="nombre"><h3>{{tool.nombre}}</h3></label>
          <mat-form-field appearance="fill">
            <mat-label>nuevo nombre</mat-label>
            <input matInput value="" formControlName="nombre">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>url imagen</mat-label>
            <input matInput name="imagen" formControlName="imagen">
          </mat-form-field>

          <input type="submit" value="Confirmar">
          <button mat-mini-fab aria-label="botón borrar" (click)="delete(tool)">
            <mat-icon>delete</mat-icon>
          </button>
        </form>
      </div>
    </div>

  </section>
 
</div>