<app-toolbar></app-toolbar>
  <main [ngsRevealSet]="{ reset: true}" [ngsInterval]="50" [ngsSelector]="'.animated'">
    <!--mp3(?)-->
    <app-section-main class="animated"></app-section-main>
    
    <div id="hr1">
      <hr class="custom-hr">
    </div>
  
    <app-section-tools ></app-section-tools>
    
    <div id="hr2" >
      <hr class="custom-hr">
    </div>
  
    <app-section-projects></app-section-projects>
    <div id="hr2" >
      <hr class="custom-hr">
    </div>

    <app-section-contact ></app-section-contact>
    
  </main>
  <app-footer></app-footer>