<div class="container">
    <section class="right">
        <div class="add-btn">
            <button mat-icon-button aria-label="botón crear" class="white" (click)="add()" *ngIf="isLogged">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="cards-group slide-in">
            <mat-card class="transparent mat-elevation-z2 dark-background" *ngFor="let edu of educationList">
                <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon class="material-icons-outlined violeta large">school</mat-icon>
                    </div>
                    <mat-card-title>{{edu.titulo}}</mat-card-title>
                    <mat-card-subtitle>{{edu.detalle}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="azul">
                    <p>{{edu.fechaIni}}<span class="accent-color"> - </span>{{edu.fechaFin}}</p>
                </mat-card-content>
                <mat-divider class="azul"></mat-divider>
                    <mat-card-actions align="end" *ngIf="isLogged">
                        <button mat-flat-button color="warn" aria-label="botón borrar" (click)="delete(edu)">
                            borrar
                        </button>
                        <button mat-stroked-button class="white" aria-label="botón editar" (click)="edit(edu)">
                             editar
                        </button>
                    </mat-card-actions>
            </mat-card>
        </div>
    </section>
<!--Crear-->
    <section *ngIf="modalAdd" class="modal">
        <mat-card @showTrigger class="modal-container">
                <mat-card-title>
                    <h3><b>Nueva Formación</b></h3>
                </mat-card-title>
                <mat-divider inset></mat-divider>
            <mat-card-content>
                <form #addForm="ngForm" (ngSubmit)="submit(addForm)" novalidate>
                    <mat-form-field appearance="fill">
                        <mat-label  for="titulo">título</mat-label>
                        <input type="text" matInput value="" name="titulo" #titulo="ngModel" ngModel required>
                        <mat-error>campo obligatorio</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label for="detalle">Nivel</mat-label>
                        <input type="text" matInput value="" name="detalle" #detalle="ngModel" ngModel required>
                        <mat-error>campo obligatorio</mat-error>
                    </mat-form-field>
                    <br>                   
                    <mat-form-field>
                        <mat-label for="fechaIni">Fecha inicio</mat-label>
                        <input type="text" matInput value="" name="fechaIni" #fechaIni="ngModel" ngModel required>
                        <mat-error>campo obligatorio</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label for="fechaFin">fecha finalización</mat-label>
                        <input type="text" matInput value="" name="fechaFin" #fechaFin="ngModel" ngModel required>
                        <mat-error>campo obligatorio</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-card-actions>
                        <button mat-flat-button color="warn" (click)="closeAdd()">
                          Cancelar
                        </button>
                        <button type="submit" mat-stroked-button color="accent">
                          Confirmar
                        </button>
                      </mat-card-actions>
                </form>
            </mat-card-content>
        </mat-card>
    </section>

    <!--Editar-->
    <section *ngIf="modalEdit" class="modal">
        <mat-card @showTrigger class="modal-container">
            <mat-card-title>
                <h3><b>Editar Formación</b></h3>
            </mat-card-title>
            <mat-divider inset></mat-divider>
            <mat-card-content>
                <form [formGroup]="editForm" novalidate>
                   
                    <mat-form-field>
                        <mat-label  for="titulo">Nuevo título</mat-label>
                        <input type="text" matInput value="" name="titulo" formControlName="titulo" required>
                        <mat-error>campo obligatorio</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label for="detalle">Nivel Educativo</mat-label>
                        <input type="text" matInput value="ej: Universitario" name="detalle" formControlName="detalle" required>
                        <mat-error>campo obligatorio</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label  for="fechaIni">nueva fecha de inicio</mat-label>
                        <input type="text" matInput value="" name="fechaIni" formControlName="fechaIni" required>
                        <mat-hint>Ingrese solo el Año</mat-hint>
                        <mat-error>campo obligatorio</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label  for="fechaFin">nueva fecha finalización</mat-label>
                        <input type="text" matInput value="" name="fechaFin" formControlName="fechaFin" required>
                        <mat-hint>Ingrese solo el Año</mat-hint>
                        <mat-error>campo obligatorio</mat-error>
                    </mat-form-field>                    
                    
                </form>
                <mat-card-actions>
                    <button type="button" mat-flat-button color="warn" (click)="closeEdit()">Cancelar</button>
                    <button type="button" mat-stroked-button color="accent" (click)="onEdit()">Aplicar</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </section>
    <!--Borrar-->
    <section *ngIf="modalDelete" class="modal">
            <mat-card @showTrigger class="modal-delete">
                <mat-card-header>
                    <mat-card-title>¿Borrar Formación?</mat-card-title>
                </mat-card-header>
                <mat-divider inset></mat-divider>
                <mat-card-footer>
                    <mat-card-actions>
                        <button type="button" mat-flat-button color="warn" (click)="closeDelete()">Cancelar</button>
                        <button type="button" mat-stroked-button color="accent" (click)="onDelete()">Confirmar</button>
                    </mat-card-actions>
                </mat-card-footer>
            </mat-card>
    </section>
</div>