$violeta:#6E30F2;
$azul: #323cf8;
.container{
    display:grid;
    background: rgba(51, 51, 51, 0);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "leftSide rightSide"
    ;
}

.left{
    grid-area: leftSide;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}
img{
    width: 100%;
}


.right{
    grid-area: rightSide;
    justify-self: center;
    align-self: center;
}

.add-btn{
    display: flex;
    justify-content: flex-end;
    button, mat-icon{
        background-color: $azul;
    }
}

.cards-group{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
    gap: 20px;
}

mat-card{
    width: 20em;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    mat-card-title{
        color: whitesmoke;
    }
    mat-card-subtitle{
                color: whitesmoke;
    }
    mat-card-content{
        color: whitesmoke;
    }
    mat-icon{
        font-size: 3rem;
    }
    mat-divider{
        border-top-color: #ACB0F2;
    }
    mat-card-actions{
        gap: 10px;
    }
}

//customiza color de mat-icon
.violeta{
    color: $violeta;
}
//cambia color de botón editar
.white{
    color:white
}

