$violeta: #6e30f2;
$azul: #323cf8;
$accent: #F06449;

//maquetado principal de sección
.container {
  display: grid;
  background: rgba(51, 51, 51, 0);
  grid-template-columns: 1fr 90% 1fr;
  grid-auto-rows: auto;
  padding-bottom: 20px;
  grid-template-areas: ". rightSide .";
}  

@media screen and(min-width: 775px) {
  .container {
    display: grid;
    background: rgba(51, 51, 51, 0);
    grid-template-columns: 95% 1fr;
    grid-auto-rows: auto;
    padding-bottom: 20px;
    grid-template-areas: "rightSide .";
  }
}

.right {
  grid-area: rightSide;
  justify-self: center;
  align-self: center;
}
//--------------------------------------------

.add-btn {
  display: flex;
  justify-content: flex-end;
  button,
  mat-icon {
    background-color: $azul;
  }
}

.cards-group {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
  gap: 20px;
}

mat-card.dark-background {
  width: 19rem;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  mat-card-title {
    color: whitesmoke;
  }
  mat-card-subtitle {
    color: whitesmoke;
  }
  mat-card-content {
    color: whitesmoke;
  }

  mat-divider {
    border-top-color: #acb0f2;
  }
  mat-card-actions {
    gap: 10px;
  }
}

mat-icon.large {
  font-size: 3rem;
}

//customiza color de mat-icon
.violeta {
  color: $violeta;
}
//cambia color de fuente botón editar
.white {
  color: white;
}
.accent-color{
  color: $accent;
}