<div class= "container">
    <section class="title section-style">
        <h1>Experiencia</h1>
    </section>

    <section class="right">
        
        <mat-card *ngFor="let exp of experienceList">
            <mat-card-header>
                <mat-card-title>{{exp.puesto}}</mat-card-title>
                <mat-card-subtitle>{{exp.detalle}}, {{exp.tipo}}</mat-card-subtitle>
                <button type="button" (click)="edit(exp)" *ngIf="isLogged">edit</button>
                <button type="button"(click)="delete(exp)" *ngIf="isLogged">delete</button>
            </mat-card-header>
            <mat-card-content>
                <p>Empresa: <span>{{exp.nombreEmpresa}}</span> <span>||  {{exp.fechaIni}} - {{exp.fechaFin}}</span></p>
            </mat-card-content>
        </mat-card>
    </section>

    <section class="left">
        <button type="button" (click)="add()" *ngIf="isLogged">Crear</button>
    </section>

    <section *ngIf="modalAdd">
        <div class="modal-container">
            <div class="modal-header">
                <h2>Agregar Experiencia</h2>
                <button type="button" (click)="closeAdd()">X</button>
            </div>
        </div>
        <div class="modal-content">
            <form #addForm="ngForm" (ngSubmit)="submit(addForm)" novalidate>
                <label for="puesto"><h3>Puesto</h3></label>
                <mat-form-field appearance="fill">
                    <mat-label>puesto</mat-label>
                    <input type="text" matInput value=""  name="puesto" #puesto="ngModel" ngModel required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>detalle</mat-label>
                    <input type="text" matInput value="" name="detalle" #detalle="ngModel" ngModel required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>ej: full-time</mat-label>
                    <input type="text" matInput value="" name="tipo" #detalle="ngModel" ngModel required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>nombre de la empresa</mat-label>
                    <input type="text" matInput value="" name="nombreE" #nombreE="ngModel" ngModel required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>fecha de Inicio</mat-label>
                    <input type="text" matInput value="" name="fechaIni" #fechaIni="ngModel" ngModel>
                 </mat-form-field>
                <mat-form-field>
                    <mat-label>fecha de Finalización</mat-label>
                    <input type="text" matInput value="" name="fechaFin" #fechaFin="ngModel" ngModel>
                </mat-form-field>
                <button type="submit">crear</button>
            </form>
        </div>
    </section>

    <section *ngIf="modalEdit">
        <div class="modal-container">
            <div class="modal-header">
                <h2>Editar Experiencia</h2>
                <button type="button" (click)="closeEdit()">X</button>
            </div>
        </div>
        <div class="modal-content">
            <form [formGroup]="editForm" novalidate>
                <label for="puesto"><h3>Puesto: </h3></label>
                <mat-form-field>
                    <mat-label>nuevo puesto</mat-label>
                    <input type="text" matInput value="" formControlName="puesto">
                </mat-form-field>
                <label for="detalle"><h3>Detalle: </h3></label>
                <mat-form-field>
                    <mat-label>nuevo detalle</mat-label>
                    <input type="text" matInput value="" formControlName="detalle">
                </mat-form-field>
                <label for="tipo"><h3>Tipo</h3></label>
                <mat-form-field>
                    <mat-label>ej: full-time</mat-label>
                    <input type="text" matInput value="" formControlName="tipo">
                </mat-form-field>
                <label for="nombreEmpresa"><h3>Empresa</h3></label>
                <mat-form-field>
                    <mat-label>nuevo nombre</mat-label>
                    <input type="text" matInput value="" formControlName="nombreEmpresa">
                </mat-form-field>
                <label for="fechaIni">Fecha Inicio</label>
                <mat-form-field>
                    <mat-label>nueva fecha de Inicio</mat-label>
                    <input type="text" matInput value="" formControlName="fechaIni">
                </mat-form-field>
                <label for="fechaFin">nueva Fecha de Finalización</label>
                    <mat-form-field>
                        <mat-label>nueva fecha de finalización</mat-label>
                        <input type="text" matInput value="" formControlName="fechaFin">
                    </mat-form-field>
                <button type="button" (click)="onEdit()">confirmar</button>
            </form>
        </div>
    </section>

    <section *ngIf="modalDelete">
        <mat-card>
            <mat-card-actions align="end">
                <button mat-button (click)="closeDelete()"></button>
            </mat-card-actions>
            <mat-card-header>
                <mat-card-title>Borrar Experiencia</mat-card-title> 
            </mat-card-header>          
            <mat-divider inset></mat-divider>
            <mat-card-content>
                <h3>La experiencia será borrada</h3>
            </mat-card-content>
            <mat-card-footer>
                <button type="button" (click)="onDelete()">Confirmar</button>
            </mat-card-footer>
        </mat-card>
    </section>

</div>