//palette
$primary: #EDE6E3;
$secondary: #4B88A2;
$accent: #F06449;
$background: #D4D2D5;

.container{
    display: grid;
    margin-top: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
  
    "leftSide rightSide"
    ;
}
.left{
    grid-area: leftSide;
    align-self: center;
    text-align: center;
    img{
        width: 100%;
        height: 200px;
        margin: 0;
        padding: 0;
    }
}
.right{
    grid-area: rightSide;
    justify-self: center;
    align-self: center;
    padding-bottom: 3rem;
}

.add-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    button,
    mat-icon {
      background-color: $secondary;
    }
  }

.cards-group {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
  }
mat-card.exp-card{
  width: 25em;
  background-color: $background;
  mat-card-header{
    justify-content: space-between;
  }
}

//form grid
.childrenWidth100 > * {
  width: 100%;
}
//----
.svg-background {
    width: 50%;
    position: relative;
    top: 40%;
    left: 25%;

    z-index: 0;
  }

.accent-color{
    color: $accent;
}